*~
*.pyc
*.log
*.out
*.bak
*.png
*.pt
*.ckpt
*.txt
*.pdf
*.cache
*.model
*.jsonl
*.tsv
*.zip
*.gz
*.tgz
.nfs*
*.e*
*.o*
*.db
*.prob
*.grad*
*.lock
tmp*
_tmp*
*output
*_logs
cached_*
*-out
experiments/data
experiments-*
_*